<div class="container">
	<form action="/save" method="POST">
		<div class="form-group">
			<label>Paste your public key here:</label>
			<textarea class="form-control" rows="3" name="publicKey"></textarea>
		</div>
	 	<button class="btn btn-primary" type='submit'>Submit</button>
	</form>

</div>
<div class="container">
	{{#list machineNames}}{{/list}}
</div>
